.tinyselect {
	height: 34px;
	display: inline-block;
	min-width: 200px;
	position: relative;
}


.tinyselect .dropdown {
	position: absolute;
	width: 100%;
	/*top: 33px;*/
	border: 1px solid #ccc;

	background-color: white;
	z-index: 100;

	box-sizing: border-box;
	max-height: 200px;

	overflow-x: hidden;
	overflow-y: scroll;
}

.tinyselect .searchcontainer {
	padding: 0px;
}

.tinyselect .searchbox {
	width: 100%;
	border: 1px solid #ccc;
	/*font-size: 10pt;*/
    font-weight: bolder;
	line-height: 2em;
	padding: 0 5px 0 3em;
}
.tinyselect .searchbox.nok {
    background-color: #f2dede;
}
.tinyselect .searchbox.ok {
    background-color: #dff0d8;
}

.tinyselect .searchicon {
    cursor: pointer;
	position: absolute;
	top: 6px;
	left: 8px;
    color: blue;
}
.tinyselect .sel-ok {
    position: absolute;
    top: 6px;
	right: 3.5em;
}
.tinyselect .sel-ok.nok {
    color: #afacac;
}
.tinyselect .sel-ok.ok {
    color: green;
    cursor: pointer;
}
.tinyselect .sel-cancel {
    cursor: pointer;
    position: absolute;
    top: 6px;
	right: .5em;
    color: red;
}
.tinyselect .sel-skip {
    cursor: pointer;
    position: absolute;
    top: 6px;
	right: 2em;
    color: green;
}



.tinyselect .itemcontainer {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tinyselect .itemcontainer > li {
	padding: 5px 2px;
}

.tinyselect .itemcontainer > li.item {
	padding: 5px 10px;
}

.tinyselect .itemcontainer > li.item:hover {
	background-color: #1b6eab;
	color: white;
}